*.ide-shm
*.ide-wal
*.ide-wal
*.dll
*.resources
*.cache
*.pdb
*.ide-shm
*.ide-wal
*.CopyComplete
*.txt
*.config
*.exe
*.ide-shm
*.ide-wal
License/dongle.dat
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-wal
SimprosysSetup/repository/Help2.0/LicenseAgreement.pdf
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-wal
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/.suo
/Simprosys/MagicLibrary/obj/Debug
/Simprosys/Materials/obj/Debug
/Simprosys/Plots/obj/Debug
/Simprosys/Prosimo/obj/Debug
/Simprosys/ProsimoBootstrap/bin/Debug
/Simprosys/ProsimoBootstrap/obj/Debug
/Simprosys/ProsimoUI/bin/Debug/SubstanceDatabase
/Simprosys/ProsimoUI/obj/Debug
/Simprosys/SoftwareProtection/obj/Debug
/Simprosys/SubstanceLibrary/obj/Debug
/Simprosys/ThermalProperties/bin/Debug/SubstanceDatabase
/Simprosys/ThermalProperties/obj/Debug
/Simprosys/ThermalPropExtractor/obj/Debug
/Simprosys/UnitOperations/bin/Debug/SubstanceDatabase
/Simprosys/UnitOperations/obj/Debug
/Simprosys/UnitSystems/obj/Debug
