*.ide-shm
*.ide-wal
*.ide-wal
*.dll
*.resources
*.cache
*.pdb
*.ide-shm
*.ide-wal
*.CopyComplete
*.txt
*.config
*.exe
*.ide-shm
*.ide-wal
License/dongle.dat
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-wal
SimprosysSetup/repository/Help2.0/LicenseAgreement.pdf
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-wal
Simprosys/.vs/Simprosys/v15/Server/sqlite3/storage.ide-shm
Simprosys/.vs/Simprosys/v15/.suo
