<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="betatestingConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\betatesting.mdb;Persist Security Info=True;User ID=admin" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" cookieless="UseCookies" timeout="10"/>
		<compilation debug="true"/>
      <!--      <pages theme="Default"/>  -->
   </system.web>
</configuration>
